.logo-icon {
       height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: black;
    background-image: url(/image/logo.jpg);
    background-size: cover;
}

.main-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.span-footer {
    text-align-last: center;
}